apiVersion: v1
data:
  .gitconfig: <your gitconfig encoded>
  password: <your github password base64 encoded>
  username: <your github username base64 encoded>
kind: Secret
metadata:
  creationTimestamp: null
  name: github
type: Opaque
